<div>

	<div [hidden]="submitted">
	
		<h1>Create New Order</h1>

		<form #orderForm="ngForm" (ngSubmit)="onSubmit()">

		<div class="pad">
			<h4>(1) Choose a restaurant</h4>
			<div class="pad">
				<select
					id="restaurant"
					(change)="selectChangeHandler($event)">
						<option [value]="-1">Select restaurant from list</option>
				    <option *ngFor="let restaurant of restaurants" [value]="restaurant.id">{{ restaurant.name }}</option>
				</select>
			</div>
		</div>

		<div class="pad">
			<h4>(2) Choose meals from restaurant</h4>
			<div class="pad">
				<select required ngModel [(ngModel)]="order.mealIds" name="mealIds" #mealIds="ngModel" id="mealIds" multiple>
				    <option *ngFor="let meal of meals" [value]="meal.id">{{ meal.name }}</option>
				</select>
			</div>
		</div>

		<div class="pad">
			<h4>(3) Fill out destination info: address & lat/lng position </h4>
			<div class="pad">
				<table>
					<tr>
						<td><label for="address">Address</label></td>
						<td>
							<input required ngModel [(ngModel)]="order.address" name="address" #address="ngModel" id="address">
							<div class="alert alert-danger" *ngIf="address.touched && !address.valid">Address is required</div>
						</td>
					</tr>
					<tr>
						<td><label for="address">Lat</label></td>
						<td>
							<input required ngModel [(ngModel)]="order.destination.lat" name="lat" #lat="ngModel" id="lat">
							<div class="alert alert-danger" *ngIf="lat.touched && !lat.valid">Lat is required</div>
						</td>
					</tr>
					<tr>
						<td><label for="address">Lng</label></td>
						<td>
							<input required ngModel [(ngModel)]="order.destination.lng" name="lng" #lng="ngModel" id="lng">
							<div class="alert alert-danger" *ngIf="lng.touched && !lng.valid">Lat is required</div>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="pad">
			<button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid">Create Order</button>
		</div>

		</form>

	</div>

	<div class="pad" [hidden]="!submitted">
		
		<div class="pad">
			<h1>Order created!</h1>
			<p class="pad">It will arrive in <b>{{ confirmationMessage.duration.inSeconds }} seconds ({{ confirmationMessage.duration.humanReadable }})</b></p>
			<p class="pad">Total amount: <b>${{ confirmationMessage.totalAmount }}</b></p>
		</div>

		<div class="pad">
			<a routerLink="/list-orders">List Orders</a>
		</div>

	</div>

</div>